<html>
<head>
<title>Lista de Cuentas</title>
</head>
<body>
<table>
	<tr>
		<th>Cuentas</th>
		<th>Balance</th>
	<tr>
	{%  for cuenta in cuentas %}
	<tr>
		<td>  {{cuenta.number}} </td>
		<td> {{cuenta.balance}} </td>
	</tr>
{% endfor %}
</table>
</body>
</html>